/* Form Dialog */
dialog
{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px solid #fff;
    background-color: var(--dialog-background-color);
    min-height: 450px;
    height: fit-content;
    width: 350px;
    box-shadow: var(--box-shadow);
    border-radius: calc(var(--base-border-radius) / 2);
    backdrop-filter: blur(0);
    transition: top .4s ease-in, backdrop-filter .4s ease-in;
    
    &[open]
    {
        top: 50%;
        backdrop-filter: blur(0)
    }

    &::backdrop
    {
        backdrop-filter: blur(5px);
        transition: backdrop-filter .4s ease-in;
    }

    &[open]::backdrop
    {
        backdrop-filter: blur(5px);
    }

    & h3
    {
        color: var(--primary-text-color);
        text-align: center;
        margin-top: 20px;
    }

   

    & form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        padding: 0 20px;
        height: 100%; 
    
        & input
        {
            width: 70%;
            font-family: inherit;
            background-color: transparent;
            border-bottom: 2px solid var(--primary-text-color);
            color: var(--primary-text-color);
            font-size: var(--paragraph-font-size);
        }
    
        & button
        {
            font-family: inherit;
            position: fixed;
            bottom: 20px;
            width: 50%;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--primary-text-color);
            font-size: var(--heading-five-font-size);
            font-weight: bold;
            background-color: var(--add-todo-btn-background-color);
            padding: 10px 15px;
            border-radius: calc(var(--base-border-radius) / 2);
            cursor: pointer;
        }
    }
}



.open-add-todo-form-btn
{
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 2rem;
    color: var(--primary-text-color);
    background-color: var(--open-form-btn-background-color);
    height: 60px;
    width: 60px;
    border-radius: calc(var(--base-border-radius) * 5);
}

